* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.all {
    width: 100%;
    background-image: url("../assets/Image.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.all::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000 0 0 no-repeat padding-box;
    opacity: 0.3;
}
.container {
    margin: 0 auto;
    width: 1088px;
    position: relative;
}

.page-header {
    background: #00000066 0 0;
    border-bottom: 2px solid #FFFFFF33;
    opacity: 1;
}
.flex {
    display: flex;
    justify-content: space-between;
}
.page-nav {
    height: 90px;
    display: flex;
    align-items: center;
}

.header {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.overlay {
    background: #000000 0 0 no-repeat padding-box;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    position: absolute;;
}
.part-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.page-header img {
    width: 35px;
    height: 31px;
}
.page-header h2 {
    font: normal normal bold 35px/47px Nunito Sans;
    color: #FFFFFF;
}
.page-header h2 span{
    color: #FF0000;
}
.page-nav-list {
    display: flex;
}

.page-nav-list a {
    color: #FFFFFF;
    font: normal normal bold 16px/22px Nunito Sans;
    text-decoration: none;
    width: 128px;
    height: 150px;
    padding: 33px 40px;
}

.page-nav-list a:hover {
    background: #FFFFFF33;
}

.banner-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 254px;
    padding-bottom: 256px;
}

.banner-title {
    font: normal normal 900 90px/90px Nunito Sans;
    color: #FFFFFF;
    text-shadow: 0 3px 6px #00000040;
    opacity: 1;
}

.banner-text {
    font: normal normal bold 16px/22px Nunito Sans;
    color: #FFFFFF;
    opacity: 1;
    text-align: center;
    padding-top: 10px;
}

.banner-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 54px;
    gap: 19px;
}

.banner-list .btn {
    width: 226px;
    height: 66px;
    background: #FFFFFF;
    color: #FF0000;
    border-radius: 40px;
    opacity: 1;
    font: normal normal bold 16px/22px Nunito Sans;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 55px;
}

.banner-list .btn:hover {
    background: #FF0000 0 0;
    box-shadow: 0 3px 6px #FF00004D;
    color: #FFFFFF;
}

.dot {
    position: absolute;
    left: calc(50% - 27px);
    bottom: -27px;
    width: 55px;
    height: 55px;
    background: #FF0000 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #FF00004D;
    opacity: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    background: transparent url("../assets/Icon Arrow Down.svg") 0 0 no-repeat padding-box;
    opacity: 1;
}

.page-blog .container {
    background: #FFFFFF 0 0 no-repeat padding-box;

}
.page-blog-title {
     font: normal normal bold 35px/47px Nunito Sans;
     color: #000000;
     opacity: 1;
     padding-top: 82px;
     display: flex;
     justify-content: center;
     align-items: center;
     padding-right: 10px;
     padding-left: 10px;
 }

.page-blog-title::before,
.page-blog-title::after {
    content: "";
    display: block;
    height: 3px;
    width: 50px;
    background: #FF0000 0 0 no-repeat padding-box;
    box-shadow: 0 1px 6px #FF00004D;
    border-radius: 8px;
    opacity: 1;
    margin-right: 10px;
    margin-left: 10px;
}

.page-blog-articles {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 100px;
}

.page-blog-articles .box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.page-blog-articles img {
    width: 352px;
    height: 234px;
    background: transparent 0 0 no-repeat padding-box;
    opacity: 1;
}
.page-blog-articles h3 {
    font: normal normal normal 19px/26px Nunito Sans;
    letter-spacing: 0;
    color: #6A6A6A;
    opacity: 1;
    text-align: left;
    padding-top: 25px

}
.page-blog-articles p {
    font: normal normal 300 14px/19px Open Sans;
    letter-spacing: 0;
    color: #6A6A6A;
    opacity: 1;
    padding-top: 15px;
    padding-bottom: 26px;
}

.page-blog-articles a {
    background: #FF0000 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #FF00004D;
    border-radius: 40px;
    opacity: 1;
    text-align: center;
    font: normal normal bold 14px/19px Nunito Sans;
    letter-spacing: 0;
    color: #FFFFFF;
    text-decoration: none;
    padding: 11px 29px;

}
.page-service .container {
    background: #28272C 0 0 no-repeat padding-box;
    opacity: 1;
}

h2.page-service-title {
    font: normal normal bold 35px/47px Nunito Sans;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    padding: 60px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2.page-service-title::before,
h2.page-service-title::after {
    content: "";
    display: block;
    height: 3px;
    width: 50px;
    background: #FF0000 0 0 no-repeat padding-box;
    box-shadow: 0 1px 6px #FF00004D;
    border-radius: 8px;
    opacity: 1;
    margin-right: 10px;
    margin-left: 10px;
}

.page-service-articles {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 100px;

}
.page-service-articles .box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.page-service-articles img {
    width: 170px;
    height: 170px;
    background: transparent 0 0 no-repeat padding-box;
    border-radius: 85px;
    opacity: 1;

}
.page-service-articles h3 {
    text-align: left;
    font: normal normal normal 19px/26px Nunito Sans;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    padding-top: 25px;
}

.page-service-articles p {
    text-align: center;
    font: normal normal normal 14px/19px Open Sans;
    letter-spacing: 0;
    color: #B2B2B2;
    opacity: 1;
    padding-top: 15px;
    padding-bottom: 15px;
}

.page-service-articles a {
    background: #FF0000 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #FF00004D;
    border-radius: 40px;
    opacity: 1;
    text-align: center;
    font: normal normal bold 14px/19px Nunito Sans;
    letter-spacing: 0;
    color: #FFFFFF;
    text-decoration: none;
    padding: 11px 29px;
}

.page-contact .container {
    background: #FFFFFF 0 0 no-repeat padding-box;
    opacity: 1;
}

.page-contact-title {
    font: normal normal bold 35px/47px Nunito Sans;
    color: #000000;
    opacity: 1;
    padding-top: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}

.page-contact-title::before,
.page-contact-title::after {
    content: "";
    display: block;
    height: 3px;
    width: 50px;
    background: #FF0000 0 0 no-repeat padding-box;
    box-shadow: 0 1px 6px #FF00004D;
    border-radius: 8px;
    opacity: 1;
    margin-right: 10px;
    margin-left: 10px;
}

.page-contact-details {
    padding-top: 35px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.page-contact-photo {
    width: 444px;
    height: 316px;
}
.page-contact-form {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
}

form.page-contact-form-fill {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.border {
    border: 1px solid #D1D1D1;
    border-radius: 8px;
}
.border:hover {
    box-shadow: 0 1px 6px #FF00004D;
    border: 1px solid #FF0000;
}
.page-contact-form-fill label {
    background: #FFFFFF 0 0 no-repeat padding-box;
    opacity: 1;
    text-align: left;
    font: normal normal normal 16px/22px Nunito Sans;
    letter-spacing: 0;
    color: #B2B2B2;
    padding: 8px;
    margin-bottom: 20px;
}

/*.page-contact-form-fill label:hover {*/
/*    background: #FFFFFF 0 0 no-repeat padding-box;*/
/*    box-shadow: 0 1px 6px #FF00004D;*/
/*    border: 1px solid #FF0000;*/
/*    border-radius: 8px;*/
/*    opacity: 1;*/
/*}*/

.page-contact-form-fill input {
    border: none;
}

.page-contact-form-fill .textarea {
    height: 140px;
}

.page-contact-form-check {
    cursor: pointer;
    display: flex;
}

.page-contact-form-check span {
    height: 22px;
    flex-shrink: 0;
    flex-basis: 22px;
    background: #FFFFFF 0 0 no-repeat padding-box;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    opacity: 1;
    letter-spacing: 0;
    color: #B2B2B2;
    padding: 20px 0 0 20px;
}
.page-contact-form-check input:checked + span {
    background: transparent url("../assets/Icon Check.svg")0 0 no-repeat padding-box;
    opacity: 1;
    font: normal normal 300 10px/14px Open Sans;
}

button.btn {
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #FF00004D;
    border: 1px solid #FF0000;
    border-radius: 40px;
    opacity: 1;
    text-align: center;
    font: normal normal bold 14px/19px Nunito Sans;
    letter-spacing: 0;
    color: #FF0000;
    padding: 11px 52px;
}
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkbox {
    cursor: pointer;
    display: flex;
}
.checkbox span {
    height: 22px;
    flex-shrink: 0;
    flex-basis: 22px;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 15px;
}
.checkbox input:checked + span {
    background: url("../assets/Icon Check.svg") no-repeat;
    background-position: center;
}
.page-footer {
    background: #28272C 0 0 no-repeat padding-box;
    opacity: 1;
    margin-top: 65px;
}

.footer-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 40px;
}

.footer-logo h4 {
    text-align: left;
    font: normal normal bold 25px/34px Nunito Sans;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}
.footer-logo h4 span {
    color: #FF0000;
}

.footer-list-elements {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 39px;
}
.footer-list {
    width: 250px;
 }
div.footer-list-elements a {
    font: normal normal bold 14px/19px Nunito Sans;
    letter-spacing: 0;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    text-decoration: none;
}

div.footer-list-elements a:hover {
    font: normal normal bold 14px/19px Nunito Sans;
    letter-spacing: 0;
    color: #FF0000;
    text-transform: uppercase;
    opacity: 1;
}

.copyright {
    position: absolute;
    right: 0;
    font: normal normal 300 12px/16px Nunito Sans;
    letter-spacing: 0;
    color: #D1D1D1;
    opacity: 1;
    align-self: flex-end;
}